@CHARSET "ISO-8859-1";

#chartdiv3dpie {
	width: 100%;
	height: 300px;
	font-size: 11px;
}

.amcharts-pie-slice {
	transform: scale(1);
	transform-origin: 50% 50%;
	transition-duration: 0.3s;
	transition: all .3s ease-out;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	cursor: pointer;
	box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
	transform: scale(1.1);
	filter: url(#shadow);
}

#barchartdiv, #chartdiv3dcone, #chartdivclusteredbar {
  width: 100%;
  height: 300px;
}

.amcharts-export-menu-top-right {
  top: 10px;
  right: 0;
}
/*888888888888888888888888888888888888888888888888888*/
body
{
  background-color: #dddddd;
}

.center-div
{
	box-shadow: 5px 5px 5px #888888;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 800px;
    height: 553px;
    background-color: #ccc;
    border-radius: 3px;
}
.div-1
{
  width: 250px;
  height: 250px;
  background-color: #dddd;
  border-radius: 3px;	
	
}
.div-2
{
    width: 399px;
    height: 553px;
    background-color: white;
    float: left;
    margin-left: 401px;
    margin-top: -553px;
	
}
.div-img
{
 	width: 0px;
 	height: 0px;
 	float: left;
	margin-left: 75px;
 	margin-top: 100px;
}

.div-login
{
 	width: 252px;
    height: 0px;
    float: left;
    margin-left: 0px;
    margin-top: 210px;
}
.submit_container
{
 	width: 252px;
    height: 0px;
    float: left;
    margin-left: 0px;
    margin-top: 224px;
}
.text-line {
	background-color: transparent;
	color: grey;
	outline: none;
	width: 240px;
	outline-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #eeeeee 1px;
	padding: 17px 10px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.combo_style {
	background-color: transparent;
    color: grey;
    outline: none;
    outline-style: none;
    border-bottom: solid #eeeeee 1px;
    padding: 5px 20px;
    margin-left: 0px;
    margin-top: 40px;
    margin-bottom: 3px;
    width: 79%;
    padding: 8px 15px;
}
.button_style {
	background-color: #44d4ff;
	border: none;
	color: white;
	padding: 3px 110px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 17px;
	margin-top: 22px;
	margin-bottom: 16px;
}
#input_container { 
	position:relative;
	padding:0; 
	margin:0; 
	}
#input_img { 
	position: absolute;
    bottom: 7px;
    left: -6px;
    width: 10px;
    height: 10px;
    top: 18px;
}
.submitButton {
	text-decoration: none;
    color: black;
    font-size: 15px;
}




.button_reset {
  display: inline-block;
  width: 90px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f3b81c;
  border: none;
  border-radius: 7px;
  font-weight: bold;
 
}

.button_reset:hover {background-color: #D4AC0D}


.button_apply {
  display: inline-block;
  width: 90px;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3489e6;
  border: none;
  border-radius: 7px;
  font-weight: bold;
 
}

.button_apply:hover {background-color: #2874A6}


.alert {
    
    background-color: #4dff4d;
    color: white;
    display: none;
    color: black;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}