	html, body {
	font-family: "Franklin Gothic Book", Georgia, Serif;
	font-size: 15px;
	padding:0;
        margin:0;
        height:100%;
/*         overflow: hidden;
 */	
}
	
	
	#dashboardContentDiv .headerPart {
   
}
	
	
	#dashboardContentDiv .valuePart {
    font-size: 52px;
    color: #00b3b3;
}


#dashboardContentDiv .patientNo {
	font-size: 52px;   
    color: #00b3b3;
}
#dashboardContentDiv .bedOccupancyNo {
	font-size: 52px;
    color: #4dffb8;
}
#dashboardContentDiv .totalLabOrderNo {
	font-size: 52px;
    color: 	#ff9999;
}
#dashboardContentDiv .avgTurnAroundNo {
	font-size: 52px;
    color: #ff884d;
}

#dashboardContentDiv .goldNo {
    font-size: 19px;
    color: #e6ac00;	
}

#dashboardContentDiv .goldText {
    font-size: 25px;
    color: #e6ac00;
}
#dashboardContentDiv .silverNo {
    font-size: 19px;
    color: #C0C0C0;
}
#dashboardContentDiv .silverText {
    font-size: 25px;
    color: #C0C0C0;
}


#dashboardContentDiv .totalAmendmentsNo {
	font-size: 52px;
    color: #ff4d4d;
}

#dashboardContentDiv .totalDiagnosticsNo {
	font-size: 52px;
    color: #ff794d;
}
#dashboardContentDiv .totalClaimNo {
	font-size: 52px;
    color: #00cccc;
}

#memberColumn {
        border-right: 1px solid;
      }
      
      

#chartdiv2, #chartdiv3, #chartdiv4, #chartdiv5, #chartdiv6, #chartdiv7, #chartdiv8, #chartdiv9, 
#chartdiv10, #chartdiv11, #chartdiv12, #chartdiv13, #chartdiv14, #chartdiv15,
 #chartdiv16, #chartdiv17, #chartdiv18, #chartdiv19, #chartdiv20{
	width: 100%;
	height: 110px;
	font-size: 11px;
	background-color: #ffffff;
}

#chartdiv28 {
	width: 100%;
	height: 300px;
	font-size: 11px;
	background-color: #ffffff;
}





/**
 * Modal related
 */
.modalamchart, .modalamchart .shade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100000;
}

.modalamchart .shade {
	background: #000;
	opacity: 0.7;
	z-index: 1;
}

.modalamchart .chart {
	width: 90% !important;
	height: 90% !important;
	top: 5%;
	left: 5%;
	position: absolute;
	background: #fff !important;
	z-index: 2;
	border-radius: 5px;
}

.amcharts-export-menu {
	display: none;
}

.modalamchart .amcharts-export-menu {
	display: block;
}


.chartDivs .viewReport {
	    position: absolute;
    height: 37px;
    width: 65px;
    top: 2px;
    right: 95px;
    border-radius: 3px;
    padding: 5px 12px;
    background: #66ccff;
    cursor: pointer;
    z-index: 100;
    color: #ffffff;
    font-weight: bold;
}

.chartDivs .zoom, .zoom {
	    position: absolute;
    height: 37px;
    width: 75px;
    top: 2px;
    right: 15px;
    border-radius: 3px;
    padding: 5px 12px;
    background: #66ccff;
    cursor: pointer;
    z-index: 100;
    color: #ffffff;
    font-weight: bold;
}

.tempcss {
	position: absolute;
	top: 0px;
	right: 15px;
	border-radius: 3px;
	padding: 5px 12px;
	cursor: pointer;
	z-index: 100;
}

.zoom a {
	color: 1px solid #ffffff !important;
}

.closebutton {
	height: 39px;
	width: 27px;
	position: absolute;
	top: -5px;
	color: black !important;
	right: -12px !important;
	border-radius: 3px;
	padding: 5px 12px;
	cursor: pointer;
	z-index: 100;
	font-size: 22px;
	text-align: center;
}

#logo img {
	top: 30px;
	left: 30px;
}

.well {
	background: #FFFFFF;
	border-top-color: #FFFFFF;
} 
#mainView {
	width:100%;
}   


#chartdata {
  width: 900px;
  max-width: 100%;
  border: 2px solid #eee;
  border-top: none;
}

#chartdata * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* #chartdata table {
  width: 100%;
  border-collapse: collapse;
}

#chartdata table th,
#chartdata table td {
  text-align: center;
  padding: 5px 7px;
}

#chartdata table th {
  background: #999;
  color: #fff;
}

#chartdata table td {
  border: 1px solid #eee;
}

#chartdata table td.row-title0 {
  font-weight: bold;
  width: 150px;
  font-weight: bold;
  background-color: #eee;
}

#chartdata tr:hover td {
  background: #eee;
  cursor: pointer;
}

.container {
	width: 99%;
} */


/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
 */



#newsearch {
    height: 65px;  
    background-color: #66ccff;
}

#newsearch img.start {
    position: absolute;
    top: 32%; width: 2%; height: auto; left: 4%;
}

#newsearch p.start {
    position: absolute; left: 7%; top: 38%;
    width: 85px; font-size: small;
}
#newsearch .txtStartDate {
    position: absolute; left: 12%; top: 22px; font-size: 11px;
}

#newsearch img.end {
    position: absolute;
    top: 32%; width: 2%; height: auto; left: 25%;
}

#newsearch p.end {
    position: absolute; left: 28%; top: 38%;
    width: 85px; font-size: small;
}
#newsearch .txtEndDate {
    position: absolute; left: 33%; top: 22px; font-size: 11px;
}
#newsearch .searchConditions {
    position: absolute; top: 8px; height: 100%; width: 493px;
    left: 48%; font-size: smaller;
}

#newsearch .searchConditions input[type=checkbox] {
    margin: 0px 10px 5px 2px;
    vertical-align: middle;
}
#newsearch .searchConditions .modality {
    position: absolute;   top: 3px; left: 0%;
}
#newsearch .searchConditions .scheduled {
    position: absolute;   top: 3px; left: 20%;
}
#newsearch .searchConditions .arrived {
    position: absolute; top: 3px; left: 45%;
}
#newsearch .searchConditions .dictated {
    position: absolute; top: 3px; left: 62%;
}
#newsearch .searchConditions .completed {
    position: absolute; top: 27px; left: 0%;
}
#newsearch .searchConditions .transcribed {
    position: absolute; top: 27px; left: 20%;
}
#newsearch .searchConditions .finalized {
    position: absolute;  top: 27px; left: 45%;
}
#newsearch button {
    width: 104px; background-color: #0099ff; height: 37px; 
    position: absolute; top: 16px; left: 86%; color: #fff;
}
    
#chartDataTitle p {
    font-size: 20px;
    font-weight: bold;
}
table{
width:100%;
}

#reportsheader {
	/* color: white; */
    font-size: large;
    font-weight: bold;
    padding-top: 7px;
   /*  padding-left: 45px; */
}


#dashreports {
    font-size: 14px;
    //font-weight: bold;
    //background-color: #FFFFFF;
}

#dashreports > a {
    font-size: 24px;
    //font-weight: bold;
    color: #211cef;
    //background-color: #FFFFFF;
}


.input-group-addon-startdate {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: transparent;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
}
.reportsSearchItems{
    margin-top: 25px;
    padding: 0px;
}


 #headerpanel {        
       /*  height:20%; */
       
    
      }
	  
	   	  #dpPanel {
		height:20%;
	  }
	   #contentpanel {        
        /* height:70%;
        overflow-y:auto; */
    padding-left: 0px; padding-right: 0px;
      }
	  
	  #footerpanel {        
       /*  height:10%; */
    padding-left: 0px; padding-right: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 39px;
   	margin-left: -14px;
      }
	  
	  .mainpanel {
        padding:0;
        margin:0;
        height:100%;        
      }
	  
	   .heightmaker {
        height:100%;        
      }

#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: block;
    background-color: transparent;
    padding-left: 0px; padding-right: 0px;
}


.fill { 
    min-height: 100%;
    /* height: 100%; */
    background-color: #d2cfcf
}

.col-xs-1-10,
.col-sm-1-10 {
  position: relative;
  min-height: 1px;
}

.col-xs-1-10 {
  width: 10%;
  float: left;  
  font-size: 10px;
  background-color: #FFFFFF;
  border-right:  8px solid #d6cdcd;
}
.widgetcolumns {
  font-size: 10px;
  background-color: #FFFFFF;
  border:  8px solid #d6cdcd;
}

.text-center-widget {
   text-align: center;
    height: 35px;
    border-bottom: 1px solid #d6cdcd;
}


   

.checkbox-widget {
  text-align: right;
  //background-color: #FFFFFF;
}


@media (min-width: 768px) {
  .col-sm-1-10 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1-10 {
    width: 10%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-1-10 {
    width: 10%;
    float: left;
  }
}


.amchartTitle {
	background-color: white;
	font-weight: bold;
}

fieldset.centers {
	background-color: #8ED3F0 !important;
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
            background-color: #FFFFFF;
}

fieldset label {
   color: #3d97e6;
   margin-left: 5px;
}

    legend.centers {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
    
    .checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 5px 0 !important;
}

.checkbox-round:checked {
    background-color: #0000ff;
}
    
    
    #reportsheader {
	color: black;
    font-size: large;
    font-weight: bold;
    padding-top: 16px;
    padding-left: 27px;
}

#widgetHeading{
	color:black;
	font-size: medium;
    font-weight: bold;
    padding-top: 7px;
	
}

hr {
    display: block;
    height: 1px;
    border: 0;
    width:78%;
    border-top: 1px solid #ccc;
    margin-top: -3px;
    margin-bottom: 13px;
    margin-left: -15px;
}

#dashboardContentDiv .bedOccupancyNo {
	font-size: 52px;
    color: #0adb99;
    position: relative;
    bottom: 9px;
    left: 10px;
}
#dashboardContentDiv .totalLabOrderNo {
	font-size: 12px;
    margin-left: -9px;
    font-weight: bold;
    color: #ff9999;
    position: relative;
    bottom: 10px;
    
}

#dashboardContentDiv .totalLabOrderText {
	font-size: 45px;
    margin-top: -14px;
    color: #ff9999;
    position: relative;
    bottom: 8px;
}
#dashboardContentDiv .avgTurnAroundNo {
	 font-size: 12px;
    color: #ff884d;
    margin-left: 12px;
    font-weight: bold;
    position: relative;
    bottom: 9px;
}

#dashboardContentDiv .avgTurnAroundText {
	font-size: 45px;
    margin-top: -14px;
    color: #ff884d;
    position: relative;
    bottom: 5px;
}

#dashboardContentDiv .goldNo {
  font-size: 12px;
    color: #FF7F50;
    margin-left: 12px;
    font-weight: bold;
    position: relative;
    bottom: 9px;
}

#dashboardContentDiv .goldText {
   font-size: 45px;
    color: #FF7F50;
    margin-top: -14px;
    position: relative;
    bottom: 6px;
}
#dashboardContentDiv .silverNo {
    font-size: 12px;
    color: #C0C0C0;
    margin-left: 1px;
    font-weight: bold;
    margin-top: 9px;
    position: relative;
    bottom: 9px;
}
#dashboardContentDiv .silverText {
    font-size: 45px;
    color: #C0C0C0;
    margin-top: -21px;
    position: relative;
    bottom: 6px;
}


#dashboardContentDiv .totalAmendmentsNo {
	 font-size: 12px;
    margin-left: 12px;
    font-weight: bold;
    color: #ff4d4d;
    position: relative;
    bottom: 7px;
}

#dashboardContentDiv .totalAmendmentsText {
    font-size: 45px;
    color: #ff4d4d;
    margin-top: -14px;
    position: relative;
    bottom: 6px;
}

#dashboardContentDiv .totalDiagnosticsNo {
	font-size: 52px;
    color: #ff794d;
}
#dashboardContentDiv .totalClaimNo {
	 font-size: 12px;
    margin-left: 12px;
    font-weight: bold;
    color: #00cccc;
    position: relative;
    bottom: 7px;
}
#dashboardContentDiv .totalClaimText {
	font-size: 45px;
    margin-top: -14px;
    color: #00cccc;
    position: relative;
    bottom: 6px;
}

#copyRight{
text-align: center;
vertical-align: middle;
line-height: 36px; 
font-size: 12px;
}      
/* ---code change by Nimmy-- */


/* ---START of chart dashboard css-- Tom */

.row-no-padding {
	/* padding-left: 0 !important;
	padding-right: 7px !important; */
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
	padding: 2px 16px;
	/*background-color: #5cb85c;*/
	/* color: white;*/
	border-bottom:none !important;
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
	height: 90% !important;
	width:99% !important;
}

/* Modal Footer */
.modal-footer {
	padding: 2px 16px;
	/*background-color: #5cb85c;*/
	/*color: white;*/
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	padding: 0; 
	border: 1px solid #888;
	top: 5%;
    left: 5%;
	width: 90%;
	height: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@
-webkit-keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@
keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	top: 8px;
	right: 6px;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.buttonHover {
	position: absolute;
	width: 500px;
	left: 0;
	top: 79px;
	text-align: center;
	opacity: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	transition: opacity .35s ease;
}

.buttonHover img {
	width: 35px;
	z-index: 1;
	opacity: 1;
	margin-left: auto;
    margin-right: auto;
}

.chartDivs {
	position: relative;
	margin-top: 0px;
	width: 500px;
	background:white;
	cursor:pointer;
}

.chartDivs img:nth-child(2){
    height:16em;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	transition: background 0.5s ease;
}

.chartDivs:hover .overlay {
	display: block;
	background: rgba(0, 0, 0, .4);
}

.chartDivs:hover .buttonHover {
	opacity: 1;
}

.chartHead{
	margin: 0px;
    padding-top: 7px;
    background-color: white;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.chartOverlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
	background: rgba(0, 0, 0, .6);
    transition: background 0.5s ease;
    z-index:1;
}
    
.reportButton{
	top: 3px;right: 80px;position: absolute;
}
#loader {
	position:absolute;
	display:block;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.3s linear infinite;
  top: 42vh;
  left: 47%;
  z-index:2;
  opacity:1;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ---end of chart dashboard css-- Tom */


#searchingTable input[type="text"] {
    width:170px;
}

.reportButton.btn btn-info a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}




      