body {
	font-family: "Franklin Gothic Book", Georgia, Serif;
	font-size: 17px;
	
}

#container hr {
	margin-top: 40px;
    border-top: 2px solid #e6e6e6;
}

#header {
	height: 45px;
	width: 100%;
}

#header img{
	position: relative;
}

.hospital {
	left: 57%;
    top: -72px;
}

#menu a {
	color: black;
}
#menu a:hover { 
    color: #8ED3F0;

}
#header h1 {
	height:67px; width: 245px;	margin-left:9%;
	background-repeat:no-repeat;
	background-image: url("/resources/images/logo1.png"); 
}
#menu {
	display: inline-block;
	margin-left:9%;
	padding-bottom:25px;
}
#menu .selection {
	width: 150px; height: 5px;
	background-color: #8ED3F0; position: relative; top: 51px;
	transition: all 500ms;
}
#menu .selection_myreport {
    width: 150px; height: 5px; 
    background-color: #8ED3F0; position: relative; top: 51px; left: 25%;
    transition: all 500ms;
}
.dashboard {
	float: left; width: 165px; 	height: 25px;
	background-image: url("/resources/images/home_ovr.png"); 
	background-repeat:no-repeat;
}

.dashboard_hover {
	float: left; width: 165px; height: 25px;
	background-repeat:no-repeat;
	background-image: url("/resources/images/home.png");
}
.menu_a_hover {
	color: black; padding: 0px 0px 0px 33px; 
	position: relative; top: 3px;
}
.myreport {
	float: left; width: 155px; height: 25px;
	background-image: url("/resources/images/myreports.png"); 
	background-repeat:no-repeat; display: block;
}

.myreport_hover {
    float: left; width: 155px; height: 25px;
    background-image: url("/resources/images/myreports_over.png"); 
    background-repeat:no-repeat; display: block;
}

.myreport:hover {
	background-image: url("/resources/images/myreports_over.png");

}

.myreport:hover  ~ .selection {
	transform: translateX(158px);
}
.myreport_hover:hover ~ .selection_myreport {
    transform: translateX(158px);   
}

.preference {
	float: left; width: 155px; height: 25px;
	background-image: url("/resources/images/preference.png"); 
	background-repeat:no-repeat; display: block;

}
.preference:hover {
	background-image: url("/resources/images/preference_ovr.png");
}
.preference:hover ~ .selection {
	transform: translateX(318px);
}
.helpcenter {
	float: left; width: 165px; height: 25px;
	background-image: url("/resources/images/help.png"); background-repeat:no-repeat;
	display: block;

}
.helpcenter:hover {
	background-image: url("/resources/images/help_ovr.png");
}
.helpcenter:hover ~ .selection {
	transform: translateX(479px);
}
#menu .dashboard a {
	padding: 0px 0px 0px 33px;
	position: relative;
    top: 3px; color: #8ED3F0;
}
#menu .dashboard_hover a {
    padding: 0px 0px 0px 33px;
    position: relative;
    top: 3px; 
}
#menu .myreport a {
	padding: 0px 0px 0px 33px;
	position: relative;
    top: 3px;
}
#menu .myreport_hover a {
    padding: 0px 0px 0px 33px;
    position: relative;
    top: 3px; color: #8ED3F0;
}

#menu .preference a {
	padding: 0px 0px 0px 33px;
	position: relative;
    top: 3px;
}

#menu .helpcenter a {
	padding: 0px 0px 0px 33px;
	position: relative;
    top: 3px;
}
#dashboardContent {
	height: 436px;
	width: 100%;
	background-repeat:no-repeat;
	background-image: url("/resources/images/bg.jpg"); 
}	
#dashboardContent .patientCount {
	position: relative;
    background-color: #ffffff;
    width: 316px; height: 170px;
    top: 24px;   left: 9%; border-radius: 3px
}
#dashboardContent .patientCount .patientNo {
	font-size: 52px;
    margin: -86px 0px 0px 146px;
    color: #00b3b3;
}
#dashboardContent .bedOccupancy {
	position: relative; background-color: #ffffff;
    width: 316px; height: 170px; top: -146px; left: 30%;
    border-radius: 3px
}
#dashboardContent .bedOccupancy .bedOccupancyNo {
	font-size: 52px;
    margin: -86px 0px 0px 146px;
    color: #4dffb8;
}
#dashboardContent .totalLabOrder {
	position: relative; background-color: #ffffff;
    width: 316px; height: 170px; top: -316px;  left: 51%;
    border-radius: 3px
}
#dashboardContent .totalLabOrder .totalLabOrderNo {
	font-size: 56px;
    margin: -85px 0px 0px 141px;
    color: 	#ff9999;
}
#dashboardContent .avgTurnAround {
	position: relative; background-color: #ffffff;
    width: 316px; height: 170px; top: -486px; left: 72%;
    border-radius: 3px
}
#dashboardContent .avgTurnAround .avgTurnAroundNo {
	font-size: 49px;
    margin: -83px 0px 0px 117px;
    color: #ff884d;
}
#dashboardContent hr{
	width: 58%;
	border-style: inset;
    border-width: 1px;
    margin: 0px
}

#dashboardContent p{
	margin-left: 34px;
	font-weight: bolder;
	padding-top: 14px;
	font-size: 15px;
}

#dashboardContent img {
	margin-left: 40px;
    margin-top: 16px;
}

#dashboardContent .membershipCount {
	position: relative; background-color: #ffffff;
    width: 316px; height: 170px; top: -440px; left: 9%;
    border-radius: 3px;
}
#dashboardContent .membershipCount .gold {
	margin-top: -86px;
    margin-left: 131px;
    font-size: 17px;
    color: #e6ac00;
}

#dashboardContent .membershipCount .silver {
	margin-top: -48px;
    margin-left: 203px;
    font-size: 17px;
    color: #C0C0C0;
}
.vertical-line {
	width: 1px;
    height: 94px;
    background-color: #a3a375;
    position: relative;
    top: -31px;
    left: 189px;
}
#dashboardContent .membershipCount .goldNo {
	margin-top: -126px;
    margin-left: 120px;
    font-size: 50px;
    color: #e6ac00;
}
#dashboardContent .membershipCount .silverNo {
	margin-top: -95px;
    margin-left: 202px;
    font-size: 50px;
    color: #C0C0C0;
}

#dashboardContent .totalAmendments {
	position: relative; background-color: #ffffff; 
    width: 316px; height: 170px; top: -609px; left: 30%;
    border-radius: 3px;
}
#dashboardContent .membershipCount .silverNo {
	margin-top: -95px;
    margin-left: 202px;
    font-size: 50px;
    color: #C0C0C0;
}
#dashboardContent .totalAmendments .totalAmendmentsNo {
	font-size: 49px;
    margin: -80px 0px 0px 123px;
    color: #ff4d4d;
}
#dashboardContent .totalDiagnostics {
	position: relative; background-color: #ffffff;
    width: 316px; height: 170px; top: -779px; left: 51%;
    border-radius: 3px;
}

#dashboardContent .totalDiagnostics .totalDiagnosticsNo {
	font-size: 49px;
    margin: -89px 0px 0px 151px;
    color: #ff794d;
}

#dashboardContent .totalClaim {
	position: relative; background-color: #ffffff;
    width: 316px; height: 170px;  top: -949px; left: 72%;
    border-radius: 3px;
}
#dashboardContent .totalClaim .totalClaimNo {
	font-size: 49px;
    margin: -89px 0px 0px 151px;
    color: #00cccc;
}
#charts {
	background-color: #f2f2f2;
	width:100%;
	height: 655px;
}
#barChart {
	width: 650px;  height: 389px;  top: 641px;  position: absolute;
    left: 9%;    background-color: #ffffff;
}

#barChartImg:hover { 
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);

}
#pieChart {
	width: 650px; height: 389px;  top: 641px;  position: absolute;
    left: 51%; background-color: #ffffff;
}

#patientwisemodality {
    width: 80%; height: 100%; top: 0%; position: relative; left: 9%;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px 6px #ccc;
    border-top: 1px solid grey;
}

#pieChartImg:hover { 
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);

}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog #barChart {
    width: 700px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #fff);
    background: -webkit-linear-gradient(#fff, #fff);
    background: -o-linear-gradient(#fff, #fff);
}

.modalDialog #pieChart {
    width: 700px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #fff);
    background: -webkit-linear-gradient(#fff, #fff);
    background: -o-linear-gradient(#fff, #fff);
}
.close {
	z-index: 1;
	height: 25px;
    background: #606061;
    color: #FFFFFF;
    line-height: 23px;
    position: absolute;
    right: 312px;
    text-align: center;
    top: 125px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    opacity:2.4;
    border: 2px solid;
}
.close:hover {
    background: #00d9ff;
}

.retrospectiveReports {
	background-color: #66ccff; width: 1316px; height: 41px; position: absolute;
    left: 9%; top: 1049px;
}
#reports .retrospectiveReports > p {
	color: white;
    font-size: large;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 45px;
}
    
#reportList {
	width: 1375px;
    height: 41px;
    position: absolute;
    left: 9%;
    top: 1049px;
}
#reportList .one a {
	position: relative;
    font-size: 16px; font-weight: bold;
    color: black; top: 44px; left: 63px;
}
#reportList .one img {
	position: relative;
    top: 45px;
    left: 48px;
	
}
#reportList .two a {
	position: relative;
    font-size: 16px; font-weight: bold;
    color: black; top: 18px; left: 483px;
}
#reportList .two img {
	position: relative;
    top: 18px;
    left: 464px;
	
}
#reportList .three a {
	position: relative;
    font-size: 16px; font-weight: bold;
    color: black; top: -9px; left: 891px;
}

#reportList .three img {
	position: relative;
    top: -9px;left: 875px;
	
}
#reportList .four {
	background-color: white;
	height: 40px;
	width: 1316px;
}

#reportList .four a {
	position: relative;
    font-size: 16px; font-weight: bold;
    color: black; top: 6px; left: 62px;
}

#reportList .four img {
	position: relative;
    top: 4px;left: 48px;
	
}
#reportList .five a {
	position: relative;
    font-size: 16px; font-weight: bold;
    color: black; top: -29px; left: 483px;
}

#reportList .five img {
	position: relative;
    top: -31px;   left: 464px;
	
}
#reportList .six a {
	position: relative;
    font-size: 16px; font-weight: bold;
    color: black; top: -56px; left: 891px;
}

#reportList .six img {
	position: relative;
    top: -56px;   left: 875px;
	
}

#reportList .seven a {
	position: relative;
    font-size: 16px; font-weight: bold;
    color: black; top: -44px; left: 62px;
}

#reportList .seven img {
	position: relative;
    top: -47px;   left: 48px;
	
}
#reportList .eight a {
	position: relative; font-size: 16px; font-weight: bold;
    color: black; top: -71px; left: 483px;
}
#reportList .eight img {
	position: relative;
    top: -74px;   left: 464px;
}
#reportList .nine a {
	position: relative; font-size: 16px;  font-weight: bold;
    color: black; top: -97px;  left: 891px;
}
#reportList .nine img {
	position: relative;
    top: -101px;left: 875px;
}
#reportList .ten {
	background-color: white; height: 40px; width: 1316px;
	position: relative; top:-84px;
}
#reportList .ten a {
	position: relative;    font-size: 16px;    font-weight: bold;    color: black;
    top: 6px;    left: 63px;
}
#reportList .ten img {
	position: relative;   top: 6px;    left: 48px;
}
#reportList .eleven a {
	position: relative;    font-size: 16px;    font-weight: bold;    color: black;
    top: -119px;    left: 483px;
}
#reportList .eleven img {
	position: relative;    top: -118px;    left: 464px;
}
#reportList .twelve a {
	position: relative;    font-size: 16px;    font-weight: bold;    color: black;
    top: -146px;    left: 891px;
}
#reportList .twelve img {
	position: relative;    top: -145px;    left: 875px;
}

#hospitalContainer ul li {
	background-image: url("/resources/images/hospital.jpg");
	background-repeat: no-repeat;
}

.dropbtn {
    color: white;
    height: 64px;
    width: 165px;
    cursor: pointer;
    background-image: url("/resources/images/hospital_logo1.png");
    border-top: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    /*border: solid;
    color : green;*/
}

.dropbtn1 {
    color: white;
    height: 64px;
    width: 171px;
    cursor: pointer;
    background-image: url("/resources/images/hospital_logo2.png");
    border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
    
}
.dropbtn2 {
    color: white;
    height: 64px;
    width: 171px;
    cursor: pointer;
    background-image: url("/resources/images/hospital_logo3.png");
	border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
    
   
}
.dropbtn3 {
    color: white;
    height: 64px;
    width: 171px;
    cursor: pointer;
    background-image: url("/resources/images/hospital_logo4.png");
    border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;     
}
.dropdown {
    height: 64px;
    top: -80px;
    left: 57%;
    width: 171px;
}
.ddicon {
    
    top: -40px;
    position: absolute;
    left: 81%;
    width: 37px;
   
}
.userprofile {
    position: absolute; height: 45px; margin-left: 77%; margin-top: -138px; width: 141px;
    cursor: pointer;
    background-image: url("/resources/images/dp.jpg"); background-repeat:no-repeat;
    border-top: 2px solid #DCDCDC; border-bottom: 2px solid #DCDCDC; border-left: 2px solid #DCDCDC;
    
}
.userprofile1 { 
  position: absolute;
    height: 50px;
    margin-left: 77%;
    margin-top: -141px;
    width: 140px;
}
.userprofile2 {
    position: absolute;
    height: 50px;
    margin-left: -1%;
    margin-top: 41px;
    width: 140px;
    cursor: pointer;
    background-image: url("/resources/images/profile_pop.png");
    border-top: 2px solid #DCDCDC;
    border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
   }
.userprofile3 {
    position: absolute;
    height: 50px;
    margin-left: -1%;
    margin-top: 92px;
    width: 140px;
    cursor: pointer;
    background-image: url("/resources/images/settings_1.png");
    border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
}

.userprofile4 {
    position: absolute;
    height: 50px;
    margin-left: -1%;
    margin-top: 142px;
    width: 140px;
    cursor: pointer;
    background-image: url("/resources/images/logout_popup.png");
    border-bottom: 2px solid #DCDCDC;
    border-left: 2px solid #DCDCDC;
    border-right: 2px solid #DCDCDC;
}

.userprofile i{
    position: relative;
    font-size: xx-small;
    top: 16px;
    left: 42%;
    cursor: pointer;
  
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}
.profile-content {
    display: none;
    position: absolute;
    right: -21px;
    background-color: #ffffff;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}
.dropdown-content hr {
  
    position: absolute;
   
    background-color: #ffffff;
    min-width: 160px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    /*display: block;*/
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.idropdown {
    position: absolute; height: 100%; top: 0px; left: 96%; width: 39px;
    border-top-right-radius: 86%; border-bottom-right-radius: 86%;
   border-bottom: 2px solid #DCDCDC; border-top: 2px solid #DCDCDC;  border-right: 2px solid #DCDCDC;
}
.idropdown i{
    position: relative;
    font-size: xx-small;
    top: 16px;
    left: 42%;
    cursor: pointer;
  
}

.iprofile {
    position: absolute; height: 109%;
    top: -2px; left: 96%; width: 39px;
    border-top-right-radius: 86%; border-bottom-right-radius: 86%;
   border-bottom: 2px solid #DCDCDC; border-top: 2px solid #DCDCDC; border-right: 2px solid #DCDCDC;
}
.iprofile i{
    position: relative; font-size: xx-small;
    top: 8px; left: 42%;
    cursor: pointer;
  
}

#search {
    width: 80%; height: 65px; top: 23px; left: 9%;
    position: relative;
    background-color: #66ccff;
}

#search img.start {
    position: absolute;
    top: 32%; width: 2%; height: auto; left: 6%;
}

#search p.start {
    position: absolute; left: 9%; top: 38%;
    width: 85px; font-size: small;
}
#search .txtStartDate {
    position: absolute; left: 14%; top: 18px; font-size: 11px;
    text-align: center;
}

#search img.end {
    position: absolute;
    top: 32%; width: 2%; height: auto; left: 25%;
}

#search p.end {
    position: absolute; left: 28%; top: 38%;
    width: 85px; font-size: small;
}
#search .txtEndDate {
    position: absolute; left: 33%; top: 18px; font-size: 11px;
    text-align: center;
}
#search .searchConditions {
    position: absolute; top: 8px; height: 100%; width: 493px;
    left: 48%; font-size: smaller;
}

#search .searchConditions input[type=checkbox] {
    margin: 0px 10px 5px 2px;
    vertical-align: middle;
}
#search .searchConditions .modality {
    position: absolute;   top: 3px; left: 0%;
}
#search .searchConditions .scheduled {
    position: absolute;   top: 3px; left: 20%;
}
#search .searchConditions .arrived {
    position: absolute; top: 3px; left: 45%;
}
#search .searchConditions .dictated {
    position: absolute; top: 3px; left: 62%;
}
#search .searchConditions .completed {
    position: absolute; top: 27px; left: 0%;
}
#search .searchConditions .transcribed {
    position: absolute; top: 27px; left: 20%;
}
#search .searchConditions .finalized {
    position: absolute;  top: 27px; left: 45%;
}
#search button {
    width: 104px; background-color: #0099ff; height: 37px; 
    position: absolute; top: 16px; left: 86%; color: #fff;
}
#contentDetails {
    position: relative; width: 76%; height: auto;
    top: 30px; left: 13%;
}
#contentDetails p {
    font-size: larger; font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 94%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


