<!DOCTYPE html>
<html lang="en" ng-app="fujiApp">

<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Dash board</title>


<link rel="stylesheet" href="resources/css/2bootstrap.min.css">
<link rel="stylesheet" href="resources/css/1font-awesome.css">

<script src="resources/lib/2jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="resources/lib/2bootstrap.min.js"></script>







<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" /> -->


<link rel="stylesheet" href="resources/css/style.css">

<script src="resources/lib/angular.min.js"></script>
<script src="resources/lib/angular-route.js"></script>
<script src="resources/lib/amcharts.js"></script>
<script src="resources/lib/pie.js"></script>
<script src="resources/lib/serial.js"></script>
<script src="resources/lib/export.min.js"></script>
<script src="resources/lib/funnel.js"></script>
<link rel="stylesheet" href="resources/css/export.css" type="text/css"
	media="all" />
	
<script src="resources/lib/light.js"></script>

<link rel="stylesheet" href="resources/css/common.css" type="text/css"
	media="all" />
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Filteration datatable -->
<script
	src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">


<script src="resources/js/mainApp.js"></script>

<script src="resources/js/route/router.js"></script>
<script src="resources/js/constants/amchartConstants.js"></script>

<script src="resources/js/controller/footerController.js"></script>
<script src="resources/js/controller/headerController.js"></script>
<script src="resources/js/controller/dashboardController.js"></script>
<script src="resources/js/controller/reportsController.js"></script>
<script src="resources/js/controller/compareController.js"></script>
<script src="resources/js/controller/preferenceController.js"></script>
<script src="resources/js/controller/helpCenterController.js"></script>

<script src="resources/js/factory/amchartFactory.js"></script>
<script src="resources/js/directive/footerDirective.js"></script>
<script src="resources/js/directive/headerDirective.js"></script>
<script src="resources/js/directive/amchartDirective.js"></script>
<script src="/resources/newjs/armchart-dashboard.js"></script>



<link rel="stylesheet" href="resources/css/latest.css">
<script src="resources/newjs/script.js"></script>




<!-- Optional theme -->
<!-- <link rel="stylesheet" href="resources/css/bootstrap-theme.min.css"> -->

<script>
      $( function() {
        
      } );
    </script>



</head>

<body style="background-color: #f2f2f2;" ng-view>
	<!-- <mainheader selected="dashboard"></mainheader>
	<div id="mainView" style="width: 100%;">
		<div ng-view></div>
	</div> -->
</body>
</html>
