
<div class="container-fluid" style="background-color: #ffffff;">


		<div class="row" style="background-color: #ffffff;">
			<div class="col-md-12">&nbsp;</div>
		</div>




		<div class="container">
			<div class="row"
				style="background-color: #ffffff; border-bottom: 1px solid black;">
				<div class="col-md-4">
					<img src="resources/images/logo1.png" class="dp" />
				</div>

				<div class="col-md-6">

					<div class="dropdown">
						<div class="idropdown">
							<i class="fa fa-chevron-down h_downarrow" aria-hidden="true"></i>
						</div>
						<div class="dropbtn"></div>

						<div class="dropdown-content">
							<div class="dropbtn1"></div>

							<div class="dropbtn2"></div>

							<div class="dropbtn3"></div>
							
						</div>

					</div>


				</div>




				<div class="col-md-2">
					<div class="userprofile">

						<div class="iprofile">
							<i class="fa fa-chevron-down dp_downarrow" aria-hidden="true"></i>
						</div>
						<div class="userprofile1"></div>

						<div class="profile-content">
							<div class="userprofile2"></div>

							<div class="userprofile3"></div>
							<a href="logout"><div class="userprofile4"></div></a>
						</div>
					</div>
				</div>

			</div>


		</div>

	</div>
	
	
	
	

	<div class="row"
		style="background-color: #ffffff; border-bottom: 1px solid black;height:59px">
		<div class="container">
			<nav style="margin-left: -47px;">
    <ul>
				<li class="dashboardMenu headerItems"><a href="#">My Dashboard</a></li>
				<li class="myreportMenu headerItems"><a href="#">My Reports</a></li>
      <li class="preferenceMenu headerItems"><a href="#!preferences">Preference</a></li>
      <li class="helpcenterMenu headerItems"><a href="#">Help Center</a></li>
    </ul>
  </nav>
			<div id='menu' style="float:right" class="col-md-3">
				<select>
					<option value="volvo">PEDIATRIC DEPARTMENT</option>
					<option value="saab">ORTHOPEDIC DEPARTMENT</option>
					<option value="mercedes">RADIOLOGY</option>
					<option value="audi">NEPHROLOGY</option>
				</select>

			</div>


		</div>
	</div>