
	<div class="center-div">
		<img src="./resources/images/login-1.png">

		<div class="div-2">
			<div class="div-img">
				<img src="/resources/images/logo_login.jpg">
			</div>

			<div class="div-login">
				<center>
					<b>Login to your Account</b>
				</center>

				<form action="/login" method="POST" class="form-signin">
					<div id="input_container">
						<img src="/resources/images/user_icon.png" id="input_img"> <input
							type="text" id="email" name="email" class="text-line"
							placeholder="Username">

					</div>

					<div id="input_container">
						<img src="/resources/images/password_icon.png" id="input_img">
						<input type="password" id="password" name="password"
							class="text-line" placeholder="Password">

					</div>

					<div id="submit_container">
						<button type="submit" class="button_style">Login</button>
					</div>
				</form>
				<center>Forgot Password?</center>
			</div>

		</div>
	</div>
















</html>