<!-- <div class="container-fluid" style="background-color: #ffffff;"> -->


		<div class="row" style="background-color: #ffffff;">
			<div class="col-md-12">&nbsp;</div>
		</div>



<div class="row" style="background-color: #ffffff;">
		<div class="container">
			<div class="row"
				style="background-color: #ffffff; border-bottom: 1px solid black;">
				<div class="col-md-8" style="background:transparent url('resources/images/logo1.png') no-repeat; height: 68px; ">
					
				</div>

				<div class="col-md-2">

					<div class="dropdown">
						<div class="idropdown">
							<i class="fa fa-chevron-down h_downarrow" aria-hidden="true"></i>
						</div>
						<div class="dropbtn"></div>

						<div class="dropdown-content">
							<div class="dropbtn1"></div>

							<div class="dropbtn2"></div>

							<div class="dropbtn3"></div>
							
						</div>

					</div>


				</div>











				<div class="col-md-2"> &nbsp;
					 <div class="userprofile">

						<div class="iprofile">
							<i class="fa fa-chevron-down dp_downarrow" aria-hidden="true"></i>
						</div>
						<div class="userprofile1"></div>

						<div class="profile-content">
							<div class="userprofile2"></div>

							<div class="userprofile3"></div>
							<a href="logout"><div class="userprofile4"></div></a>
						</div>
					</div> <!---->
				</div>

			</div>




		</div>

</div>
<!-- 	</div> -->
	
	
	
	<div class="row" style="background-color: #ffffff;">
		<div class="col-md-12">&nbsp;</div>
	</div>


	<div class="row"
		style="background-color: #ffffff; border-bottom: 1px solid black;">
		<div class="container">
			<div id='menu' class="col-md-9">
				<div class="row">
					<div class="col-md-2" style="left:-2%">
						<div class="row">
							<div class="col-md-12">
								<span class='dashboard_hover' id="dashboard"><a href="#!mydashboard"> My Dashboard</a></span>
							</div>
						</div>				
						<div class="row">
							<div class="col-md-12">
								<div id="dashboard_selection" class="selection" name="dashboard"></div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="col-md-12">
								<span class='myreport' id="myreport"><a href=""> My Reports</a></span>
							</div>
						</div>				
						<div class="row">
							<div class="col-md-12">
								<div id="myreport_selection" style="text-decoration: none;"></div>
							</div>
						</div>
					</div>

					<div class="col-md-2"  ng-if="user.role=='2'">
						<div class="row">
							<div class="col-md-12">
								<span class='compare' id="compare"><a href="#!compare"> Comparison</a></span>
							</div>
						</div>				
						<div class="row">
							<div class="col-md-12">
								<div id="compare_selection" style="text-decoration: none;"></div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="col-md-12">
								<span class='preference' id="preference"><a href="#!preferences"> Preference</a></span>
							</div>
						</div>				
						<div class="row">
							<div class="col-md-12">
								<div id="preference_selection" style="text-decoration: none;" ></div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="row">
							<div class="col-md-12">
								<span class='helpcenter' id="helpcenter"><a href=""> Help Center</a></span>
							</div>
						</div>				
						<div class="row">
							<div class="col-md-12">
								<div id="helpcenter_selection" style="text-decoration: none;"></div>
							</div>
						</div>
					</div>
					<div class="col-md-2">&nbsp;</div>
				</div>
				
				
			</div>
			<div id='menu' class="col-md-3">
				<select>
					<option value="volvo">PEDIATRIC DEPARTMENT</option>
					<option value="saab">ORTHOPEDIC DEPARTMENT</option>
					<option value="mercedes">RADIOLOGY</option>
					<option value="audi">NEPHROLOGY</option>
				</select>

			</div>


		</div>
	</div>