<html>

<head>
<script>
//Check browser support
localStorage.clear();
function setUserType(){
if (typeof(Storage) !== "undefined") {
    // Store
    localStorage.setItem("user_role", document.getElementById("role").value);
    // Retrieve
    //localStorage.removeItem("user_role");
} else {
    console.log("Sorry, your browser does not support Web Storage...");
}
}

</script>

<title>Fujifilm Dash Board</title>
<script src="resources/lib/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="resources/css/bootstrap.min.css">

<link rel="stylesheet" href="resources/css/font-awesome.min.css">


<!-- Optional theme -->
<link rel="stylesheet" href="resources/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="resources/lib/bootstrap.min.js"></script>
<link rel="stylesheet" href="resources/css/common.css">
</head>

<body style="background-color: #dddddd;">
	<div class="center-div">
		<img src="resources/images/login-1.png">

		<div class="div-2">
			<div class="div-img">
				<img src="resources/images/logo_login.jpg">
			</div>

			<div class="div-login">
				<center>
					<b>Login to your Accounts</b>
				</center>

				<form action="login" method="POST" class="form-signin">
				
					<div id="input_container"><label for="role">Role:</label>
						<select
							 id="role" name="role" class="combo_style">
							 <option value="3">Radiologist</option>
							 <option value="2">Group Head</option>
					</select>
							
					</div>
					
					<div id="input_container">
						<img src="resources/images/user_icon.png" id="input_img"> <input
							type="text" id="email" name="email" class="text-line"
							placeholder="Username">
							
					</div>

					<div id="input_container">
						<img src="resources/images/password_icon.png" id="input_img">
						<input type="password" id="password" name="password"
							class="text-line" placeholder="Password">
						<input type = "hidden" id="userRole" name ="userRole" value="3"/>

					</div>

					<div id="submit_container">
						<button type="submit" class="button_style" onclick="setUserType();">Login</button>
					</div>
				</form>
				<center>Forgot Password?</center>
			</div>

		</div>
	</div>
</body>















</html>