<mainheader selected="preference"></mainheader>
<div class="alert" id="alertId" style="float: right;margin-right: 15px;margin-top: 5px;">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  Configurations Saved Successfully
</div>

<div id="dashboardContentDiv" class="container-fluid" style="background-color: #EFEFEF;">
<div class="container">
 <div class="row" style="margin-top: 15px;">
        <div class='col-md-12' style="background-color: #66ccff;height: 41px;color: #FFFFFF">
          <p id="reportsheader">Widgets</p>
        </div>		
      </div>
 
  <div class="row">
				<div class="col-md-2 col-md-offset-1" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>STUDIES PERFORMED&nbsp;</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/studiesPerformed.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.STUDIES_PERFORMED" name="STUDIES_PERFORMED"  ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
				<div class="col-md-2" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>STUDIES PENDING</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/studiesPending.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.STUDIES_PENDING" name="STUDIES_PENDING"   ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
			<div class="col-md-2" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>REPORTS</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/reports_icon.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.REPORTS" name="REPORTS"   ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
				<div class="col-md-2" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>X-RAY STUDIES</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/xRay_icon.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.X_RAY_STUDIES" name="X_RAY_STUDIES"   ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
				<div class="col-md-2" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>US STUDIES</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/US_icon.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.US_STUDIES" name="US_STUDIES"  ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
				
				
				
				
				
</div>







  <div class="row" style="margin-bottom: 25px;">
  
  
				<div class="col-md-2 col-md-offset-1" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>CT STUDIES</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/CT_icon.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.CT_STUDIES" name="CT_STUDIES"  ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
				<div class="col-md-2" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>MR STUDIES</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/MR_icon.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.MR_STUDIES" name="MR_STUDIES"  ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
			<div class="col-md-2" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>RF/NM/ETC STUDIES</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/RF_icon.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.ETC_STUDIES" name="ETC_STUDIES"  ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
				<div class="col-md-2" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 25px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>EMERGENCY CASES</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/emergency-icon.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.EMERGENCY_CASES" name="EMERGENCY_CASES"  ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
				<div class="col-md-2" style="background-color: #ffffff;margin-top: 15px;margin-right: 15px; box-shadow: 0px 0px 7px 2px;">
				 	<div class="row" style="padding-top: 5px;border-bottom: 2px solid gray;">
        				<div class="col-md-12">
			                	<p style="font-size: 14px;"><b>EQUIPMENT CHANGED NUMBERS</b></p>
               			</div>
            		</div>
            		<div class="row" style="padding-top: 10px;">
		               <div class="col-md-12 col-md-offset-3">  <img src="resources/images/equipment-icon.png" style="width: 70px; height: 66px;"></img>  </div>
		             
         			</div>
         			<div class="row" style="padding-top: 15px;padding-bottom: 15px;">
		               <div class="col-md-12"><input type="checkbox" ng-model="pref.EQUIPMENT_CHANGED_NUMBERS" name="EQUIPMENT_CHANGED_NUMBERS" ng-click="checkCount($event)" style="float: right;width: 20px; height: 20px;"></div>
		             
         			</div>
				</div>
				
</div>


<div class="row" style="margin-bottom: 25px;">
<div class="col-md-12" >
<button ng-click="applyWidgets()"style="float: right;margin-right: 15px;" class="button_apply">Apply</button>
 <button ng-click="resetWidgets()" style="float: right;margin-right: 15px;" class="button_reset">Reset</button>
 
 </div>
</div>
</div>
 
   
   </div>

	  
  
	
	
	
	
	<div class="container-fluid" id="dashreports">
				<div class="container">
				
				 <div class="row" style="margin-bottom: 10px;">
        <div class='col-md-12' style="background-color: #66ccff;height: 41px;color: #FFFFFF">
          <p  id="reportsheader">Detailed Reports</p>
        </div>		
      </div>
      
				
				<div class="row" style="margin: 0px; line-height: 30px;">
					 <div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report1" name="report1" ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Center wise Total Patient</b></div>
					 <div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report2" name="report2" ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Department wise Patient</b></div>
				</div>
				 
				 <div class="row" style="margin: 0px; background-color: white; line-height: 30px">	
					<div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report3" name="report3" ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Modality Wise Studies Performed</b></div>
					<div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report4" name="report4" ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Equipment Studies</b></div>
				</div>
				 
				 
				 <div class="row" style="margin: 0px; line-height: 30px;">	
					<div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report5" name="report5" ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Modality Wise Studies Pending</b></div>
					 <div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report6" name="report6" ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Studies Report with Pending Modality</b></div>	 
				</div>
				 
				 
				 <div class="row" style="margin: 0px; background-color: white; line-height: 30px;">	
					<div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report7" name="report7" ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Modality Wise Studies Completed Today</b></div>
					 <div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report8" name="report8" ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Modality Wise Studies Completed Yesterday</b></div> 
				</div>
				
				 <div class="row" style="margin: 0px; background-color: white; line-height: 30px;">	
					<div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report9" name="report9"  ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Modality Wise Studies Completed Finalized Today</b></div>
					 <div class="col-md-6 " style="font-size:14px;"><input type="checkbox" ng-model="pref.report10" name="report10"  ng-click="checkReportCount($event)" style="width: 20px; height: 20px;margin-right: 10px;"><b>Modality Wise Studies Completed Finalized Yesterday</b></div> 
				</div>
				
				 <div class="row" style="margin-bottom: 25px;">
<div class="col-md-12" >
<button ng-click="applyReports()"style="float: right;margin-right: 15px;" class="button_apply">Apply</button>
 <button ng-click="resetReports()" style="float: right;margin-right: 15px;" class="button_reset">Reset</button>
 
 </div>
</div>
				 
				 </div>
				 
				


				 </div>
	
     

		